h1{
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: 400;
}

/* tyle={{
    fontSize:"24px",
    textAlign: 'center',
    margin:0,
    padding: '48px'
}} */